html{
	overflow-y: scroll; 
}
body {
  background: #000020;
  padding-top: 50px;
  padding-bottom: 20px;
  color: #C5C5C5;
}

#level{
	min-height: 350px;
}

#home-bg{
	color: #FFF;
}

div.space{
	height: 30px;
}
    @font-face { font-family: Aller; src: url('../fonts/Aller/Aller_Rg.ttf');
    font-weight: 400; font-style: normal; }
    * { font-family: Aller !important;
    font-weight: normal;
    font-style: normal;}
.jumbotron {
    background: transparent;
    margin-bottom:0;
    min-height: 100%;    
}  